body{
    background-image: url("test.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    width: 150px;
    display: inline-block;
    margin-right:20px;
}
form{
    padding: 80px;
}

.json{
    text-transform: capitalize;
    background-color: lightseagreen;
    padding: 30px;
    color: aliceblue;
}

.csv{
    text-transform: capitalize;
    background-color: lightskyblue;
    padding: 30px;
    color: aliceblue;
}