span{
    background-color:aquamarine;
    padding: 5px;
}
a:hover{
    background-color: lightgoldenrodyellow;
}
body{
    background-image: url("test.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}